/* ================================ Game Card Component (All Game Page) ================================ */

.all-games-container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  max-width: 1212px;
  gap: 24px;
  margin: 48px 0 0 80px;
}

.game-cards-wrapper {
  min-width: 285px;
  height: auto;
  background-color: var(--cards-bg-color);
  border-radius: 24px;
}

.game-info-wrapper {
  margin: 36px 24px;
}

.search-value {
  margin: 36px 0 48px 80px;
  display: flex;
  flex-direction: row;
  align-content: center;
  display: inline-block;
  font-weight: 500;
  line-height: 24px;
  padding: 6px 12px;
  border: 1px solid var(--button-bg-color);
  border-radius: 12px;
}

.search-value::before {
  content: url("../../Assets/Icons/Union-x-white.svg");
  margin-right: 13px;
}

/* ================================ Img ================================ */

.game-cards-wrapper > img {
  border-radius: 24px;
  object-fit: cover;
  width: 100%;
  height: 160px;
}

/* ================================ Title ================================ */

.game-info-wrapper h3 {
  height: 44px;
  margin-bottom: 24px;
}

/* ================================ Description ================================ */

.short_description {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-all;
  margin-bottom: 36px;
  height: 96px;
  width: 213px;
}

/* ================================ Genre, Platform ================================ */

.game-cards-icon {
  display: flex;
  gap: 12px;
  margin-top: 48px;
  padding-top: 24px;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.game-cards-icon > img,
.game-cards-icon > img + p {
  display: flex;
  align-items: center;
  padding: 11px 12px 10px;
  height: 36px;
  border: 1px solid #ff4654;
  border-radius: 15px;
}

.game-cards-icon > img + p {
  font-weight: 500;
  line-height: 24px;
}

/* ================================ Game Card Component (Home Page -> Top 4 Games for PC) ================================ */

.all-games-container-pc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}

.game-cards-wrapper-pc {
  width: 100%;
}

/* ================================ Game Card Component (Home Page -> Top 4 Games for Browser) ================================ */

/* ============================ RESPONSIVE ============================ */

@media (max-width: 1400px) {
  .game-cards-wrapper {
    min-width: auto;
  }

  .all-games-container {
    margin: 48px 30px 0 80px;
  }
}

@media (max-width: 1100px) {
  .game-cards-wrapper {
    min-width: 285px;
  }

  .all-games-container {
    margin: 0 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  .search-value {
    margin: 30px 0 30px 30px;
  }
}

@media (max-width: 950px) {
  .all-games-container {
    margin: 0 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .search-value {
    margin: 30px 0 30px 30px;
  }
}

@media (max-width: 630px) {
  .game-cards-wrapper {
    max-width: 185px;
  }
  .all-games-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
  }
  .search-value {
    margin: 30px auto;
  }
}
