.topBar{
    display: flex;
    justify-content: space-between;
}
.topBarLogo{
    display: flex;
    justify-content: flex-start;
}
header h1{
    line-height: 36px;
    color:white;
    padding: 0.9rem;
    font-size: 24px;
}
.sign img{
    margin: 1rem 0;
    object-fit:contain;
}
#header-search{
    
}
.searchBar{
    border-radius: 1rem;
    background-color: var(--searchbar-bg-color);
}
.searchBar input{
    display: inline-block;
    background-color: transparent;
    height: 100%;
    border: 0;
    text-align: center;
}
.heroSection img{
    width: 100%;
    padding-top: 1rem;
    padding: 3%;
    border-radius: 2.7rem;
}