.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topBarLogo {
  display: flex;
  justify-content: flex-start;
}

.left {
  margin-left: 0px;
}
header h1 {
  line-height: 36px;
  color: white;
  padding: 0.9rem;
  font-size: 1.8rem;
  margin-left: 9%;
}
.sign {
  margin-left: 3%;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.sign img {
  max-height: 72%;

  margin: 0.3rem 0;
}
.searchBar {
  position: relative;
  border-radius: 0.6rem;
  background-color: var(--searchbar-bg-color);
  width: 40%;
  max-width: 300px;
  height: 2.7rem;
  text-align: right;
  margin-right: 1rem;
}
.searchBar input {
  position: absolute;
  display: inline-block;
  width: 100%;
  border-radius: 0.6rem;
  background-color: transparent;
  height: 100%;
  border: 0;
  text-align: center;
  right: 0;
  color: white;
  font-size: 1rem;
}
.searchBar img {
  margin-top: 7px;
  margin-right: 1rem;
  height: 1.8rem;
}

.heroSection {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
  width: 99%;
  border-radius: 0 50px 50px 0;
}
.heroSection h2 {
  font-size: 2.7rem;
  line-height: 3rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

@media only screen and (max-width: 1000px) {
  .heroSection {
    min-height: 400px;
  }
}
