.main-container,
.small-container,
.small-container-both {
  display: flex;
}
.main-container {
  margin-bottom: 96px;
}
.container-left {
  width: 491px;
  margin-right: 151px;
  margin-bottom: 50px;
}
.container-left img {
  min-width: 491px;
  min-height: 281px;
  left: 154px;
  border-radius: 24px;
  margin-bottom: 36px;
  margin-right: 25px;
}
.detail-img {
  width: 594px;
  height: 356px;
  left: 154px;
  border-radius: 24px;
  margin-bottom: 96px;
}
.detail-img:last-of-type {
  margin-left: 25px;
}
.container-right {
  width: 45%;
}
.container-right p {
  max-width: 443px;
}
.small-container-left {
  margin-right: 3rem;
}
.Detail h1 {
  margin-bottom: 48px;
}
.Detail h2 {
  margin-bottom: 36px;
}
.Detail h3 {
  margin-bottom: 12px;
  margin-right: 24px;
}
.Detail p {
  margin-bottom: 24px;
}
.small-container h3 {
  width: 96px;
}
