.main-container,
.small-container,
.small-container-both {
  display: flex;
}
.main-container {
  margin-bottom: 96px;
}
.article-left {
  max-width: 491px;
  margin-right: 151px;
  margin-bottom: 50px;
}
.article-left img {
  max-width: 491px;
  min-height: 281px;
  left: 154px;
  border-radius: 24px;
  margin-bottom: 36px;
  margin-right: 25px;
}
.detail-img {
  max-width: 594px;
  height: 356px;
  left: 154px;
  border-radius: 24px;
  margin-bottom: 96px;
}
.detail-img:last-of-type {
  margin-left: 25px;
}
.article-right {
  max-width: 491px;
}
.small-container-left {
  margin-right: 3rem;
}

/* ===========Main Styling================*/
.Detail h1 {
  margin-bottom: 48px;
}
.Detail h2 {
  margin-bottom: 36px;
}
.Detail h3 {
  margin-bottom: 12px;
  margin-right: 24px;
}
.Detail p {
  margin-bottom: 24px;
  max-width: 450px;
}
.small-container h3 {
  max-width: 96px;
}

.game-cards-icon-details {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid var(--button-bg-color);
  border-radius: 15px;
  background-color: var(--cards-bg-color);
}

/* ============= Media Queries ================ */
@media (max-width: 600px) {
  .main-container {
    max-width: 100%;
    display: block;
    margin-bottom: 0px;
  }

  .article-left {
    display: block;
    width: 100%;
  }
  .article-right {
    display: block;
    width: 100%;
  }

  .Detail img {
    width: 120%;
    min-width: 30%;
    height: 30%;
    margin-bottom: 0px;
    display: block;
    margin-bottom: 12px;
  }
  .detail-img:last-of-type {
    margin-left: 0px;
  }
  .Detail p {
    margin-bottom: 24px;
    /* max-width: 100%; */
  }
  .about-p {
    width: 120%;
  }
  .small-container-left {
    margin-right: 6rem;
  }
}
@media only screen and (max-width: 1200px) {
  .main-container {
    max-width: 100%;
    display: block;
    margin-bottom: 0px;
  }

  .article-left {
    display: block;
    width: 100%;
  }
  .article-right {
    display: block;
    width: 100%;
  }

  .Detail img {
    max-width: 100%;
    min-width: 40%;
    height: 30%;
    margin-bottom: 0px;
    display: block;
    margin-bottom: 12px;
  }
  .detail-img:last-of-type {
    margin-left: 0px;
  }
  .Detail p {
    margin-bottom: 24px;
    /* max-width: 100%; */
  }
  .about-p {
    width: 120%;
  }
  .small-container-left {
    margin-right: 6rem;
  }
}
