@font-face {
  font-family: "Oswald Regular";
  src: url("./Assets/Fonts/Oswald-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald Bold";
  src: url("./Assets/Fonts/Oswald-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
:root {
  --main-bg-color: #040f14;
  --button-bg-color: #ff4654;
  --font-color: #ffffff;
  --cards-bg-color: #102130;
  --searchbar-bg-color: #375470;
  --dont-know-color: #afc7df;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
}
h1,
h2,
h3 {
  font-family: "Oswald Bold";
  color: var(--font-color);
}

h1 {
  font-size: 48px;
  line-height: 57.6px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 35.57px;
}

h3 {
  font-size: 18px;
  line-height: 21.6px;
}

p {
  font-family: "Oswald Regular";
  color: var(--font-color);
  font-size: 16px;
  line-height: 24.34px;
}

main {
  margin-left: 52px;
}

header {
  margin-left: 52px;
}
