.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: var(--main-bg-color);
  color: var(--font-color);
  border-right: 1px solid var(--font-color);
}

/* .sidebar-logo {
  font-size: px;
} */
.sidebar-icon {
  width: 1.25em;
  height: 1.25em;
  margin-right: 16px;
  cursor: pointer;
  user-select: none;
}
.sidebar-header {
  display: flex;
  align-items: center;
  padding: 16px;
}
.sidebar-items {
  display: flex;
  margin-top: 20vh;
  flex-direction: column;
  margin-left: -5px;
}
.sidebar-items .item {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  border-radius: 10px;
  transition: background-color 0.2s;
  cursor: pointer;
}
.sidebar-items .item:hover {
  background-color: #ff4654;
}

.Sidebar.collapsed {
  width: 52px;
  border-right: 1px solid var(--font-color);
}

.Sidebar.collapsed .sidebar-icon {
  margin-right: 0;
}

.Sidebar.collapsed .sidebar-text,
.Sidebar.collapsed .sidebar-logo {
  display: none;
}
